<mat-toolbar color="primary">
    <span>Studies - Complete postgraduate studies</span>
</mat-toolbar>
  
<div class="container">
    <mat-card class="card">
      <mat-card-title>Anhanguera Educacional </mat-card-title>
      <mat-card-content>
        <p> Date 01/2018 - 12/2019 </p>
        <p> Postgraduate MBA in Strategic Business Management </p>
      </mat-card-content>
    </mat-card>
</div>
  
<div class="container">
    <mat-card class="card">
      <mat-card-title>Anhanguera Educacional </mat-card-title>
      <mat-card-content>
        <p> Date 01/2014 - 12/2017 </p>
        <p> Bachelor's Degree in Software Analysis and Development</p>
      </mat-card-content>
    </mat-card>
</div>
  
<div class="container">
    <mat-card class="card">
      <mat-card-title>Senac Brazil </mat-card-title>
      <mat-card-content>
        <p> Date 01/2013 - 12/2013 </p>
        <p> Information Technology Management Technologist </p>
      </mat-card-content>
    </mat-card>
</div>
  
<div class="container">
    <mat-card class="card">
      <mat-card-title>SATC </mat-card-title>
      <mat-card-content>
        <p> Date 01/2010 - 12/2011 </p>
        <p> Computer technical course </p>
      </mat-card-content>
    </mat-card>
</div>
  