<mat-toolbar color="primary">
    <span>Experience - With 12 years of experience</span>
</mat-toolbar>
  
<div class="wrapper">
    <div class="foto-container">
        <img src="assets/img/CasasBahia.PNG" alt="Pedro Photo Profile" />
    </div>
  
    <mat-card class="card">
        <mat-card-title>Frontend Software Engineer - Angular 9+, Typescript</mat-card-title>
        <mat-card-title>Date: 10/2022 - At Moment</mat-card-title>
        <mat-card-content>
            <p>Company: Via Varejo - Casas Bahia</p>
            <p>Description: Frontend Software Engineer Senior</p>
            <p>Technologies used: Angular, Typescript, Git, SCRUM, among others...</p>
            <p>Working with Architecture of new projects, MicroFrontend with Module Federation and Nx.Dev</p>
            <p>Integrating an agile development team, working on some projects.</p>
            <p>Focused on front-end analysis and development.</p>
            <p>Working in the Insurance and Services Platform SQUAD.</p>
        </mat-card-content>
    </mat-card>
</div>
  
<div class="wrapper">  
    <mat-card class="card">
        <mat-card-title>Senior Frontend Developer</mat-card-title>
        <mat-card-title>Date: 08/2021 - 10/2022</mat-card-title>
        <mat-card-content>
            <p>Company: OPAH TI</p>
            <p>Description: Frontend Developer Analyst</p>
            <p>Technologies used: Angular, Typescript, Git, among others...</p>
            <p>Integrating an agile development team, working on some projects.</p>
            <p>Focused on front-end analysis and development.</p>
        </mat-card-content>
    </mat-card>

    <div class="foto-container-direita">
        <img src="assets/img/Opah.PNG" alt="Pedro Photo Profile" />
    </div>
</div>
  
<div class="wrapper">
    <div class="foto-container">
        <img src="assets/img/Nexo.PNG" alt="Pedro Photo Profile" />
    </div>
  
    <mat-card class="card">
        <mat-card-title>Senior Frontend Developer</mat-card-title>
        <mat-card-title>Date: 10/2020 - 09/2021</mat-card-title>
        <mat-card-content>
            <p>Company: Nexo AI</p>
            <p>Description: Frontend Developer Analyst</p>
            <p>Technologies used: Angular, Typescript, Git, among others...</p>
            <p>Integrating an agile development team, working on some projects.</p>
            <p>Focused on front-end analysis and development.</p>
        </mat-card-content>
    </mat-card>
</div>
  
<div class="wrapper">  
    <mat-card class="card">
        <mat-card-title>Senior Frontend Developer</mat-card-title>
        <mat-card-title>Date: 03/2020 - 01/2021</mat-card-title>
        <mat-card-content>
            <p>Company: Becomex Lab</p>
            <p>Description: Frontend Developer Analyst</p>
            <p>Technologies used: Angular, Typescript, Git, among others...</p>
            <p>Integrating an agile development team, working on some projects.</p>
            <p>Focused on front-end analysis and development.</p>
        </mat-card-content>
    </mat-card>

    <div class="foto-container-direita">
        <img src="assets/img/Becomex.PNG" alt="Pedro Photo Profile" />
    </div>
</div>
  
<div class="wrapper">
    <div class="foto-container">
        <img src="assets/img/Micromed.PNG" alt="Pedro Photo Profile" />
    </div>
  
    <mat-card class="card">
        <mat-card-title>FullStack Developer</mat-card-title>
        <mat-card-title>Date: 02/2014 - 03/2020</mat-card-title>
        <mat-card-content>
            <p>Company: Micromed Sistemas Ltda</p>
            <p>Description: FullStack Developer Analyst</p>
            <p>Creation of several projects using different technologies such as:</p>
            <p>HTML5, CSS3, Bootstrap, JavaScript, Jquery, TypeScript, Angular, NodeJS, Postgresql, MongoDB among others.</p>
        </mat-card-content>
    </mat-card>
</div>
  
<div class="wrapper">  
    <mat-card class="card">
        <mat-card-title>Web Developer</mat-card-title>
        <mat-card-title>Date: 03/2012 - 12/2013</mat-card-title>
        <mat-card-content>
            <p>Company: Web Mais Sistemas</p>
            <p>Description: Web Developer Analyst</p>
            <p>Back-end and database development with Intersystems Cache technology.</p>
            <p>Development with Javascript, HTML, CSS and componentization on the Front-end.</p>
            <p>I worked correcting support and making improvements to the company's ERP system, in several modules, understanding the client's needs and implementing the source code in the best way possible.</p>
        </mat-card-content>
    </mat-card>

    <div class="foto-container-direita">
        <img src="assets/img/WebMais.PNG" alt="Pedro Photo Profile" />
    </div>
</div>
