<mat-toolbar color="primary">
    <span>Pedro Felipe - Senior Frontend Developer</span>
</mat-toolbar>
  
<div class="resumo-wrapper">
    <div class="foto-container">
        <img src="assets/img/PedroFelipe.PNG" alt="Pedro Photo Profile" />
    </div>
  
    <mat-card class="profile-card">
        <mat-card-title>Hello,</mat-card-title>
        <mat-card-title>My name is Pedro Felipe, I'm from Brasil and I work as a Senior Software Engineer, with <b></b>12 years of experience focused on frontend and backend development.</mat-card-title>
        <mat-card-content>
            <p>I specialize in technologies such as <b>Angular (15+), TypeScript and Node.js</b>, with solid experience in creating scalable, high-performance and high-quality solutions. I also have skills in systems architecture and technical leadership, always seeking to add value to the teams I work with.</p>
            <p>Joinville, Santa Catarina, Brazil</p>
        </mat-card-content>
    </mat-card>
</div>
  
<mat-card class="resumo-card">
    <mat-card-title>SUMMARY</mat-card-title>
    <mat-card-content>
        <p>
            Experienced Systems Analyst with a strong background in developing robust WEB ERP systems, utilizing Caché Database and proficient in HTML, Javascript, CSS, and JQuery.
        </p>
        <p>
            Extensive expertise in the Healthcare industry, specializing in the analysis and development of systems using Caché Database, object-oriented programming, and advanced analytical methodologies.
        </p>
        <p>
            Proven track record of successfully delivering a diverse range of projects, employing cutting-edge technologies such as HTML5, CSS3, Bootstrap, JavaScript, JQuery, Angular, NodeJS, PostgreSQL, MongoDB, among others.
        </p>
        <p>
            Currently, I am an integral part of an agile development team, actively contributing to multiple projects. My primary focus lies in front-end analysis and development, proficient in TypeScript, Angular, and Git.
        </p>
    </mat-card-content>
</mat-card>
  
<mat-card class="resumo-card">
    <mat-card-title>SKILLS</mat-card-title>
    <mat-card-content>
        <p>
            <button mat-raised-button class="skill-button"
                matTooltip="Info about the action"
                aria-label="Button that displays a tooltip when focused or hovered over">
                Angular 15+
            </button>
            <button mat-raised-button class="skill-button"
                matTooltip="Info about the action"
                aria-label="Button that displays a tooltip when focused or hovered over">
                Typescript
            </button>
            <button mat-raised-button class="skill-button"
                matTooltip="Info about the action"
                aria-label="Button that displays a tooltip when focused or hovered over">
                Javascript
            </button>
            <button mat-raised-button class="skill-button"
                matTooltip="Info about the action"
                aria-label="Button that displays a tooltip when focused or hovered over">
                HTML
            </button>
            <button mat-raised-button class="skill-button"
                matTooltip="Info about the action"
                aria-label="Button that displays a tooltip when focused or hovered over">
                CSS
            </button>
            <button mat-raised-button class="skill-button"
                matTooltip="Info about the action"
                aria-label="Button that displays a tooltip when focused or hovered over">
                NodeJS
            </button>
            <button mat-raised-button class="skill-button"
                matTooltip="Info about the action"
                aria-label="Button that displays a tooltip when focused or hovered over">
                JSON
            </button>
            <button mat-raised-button class="skill-button"
                matTooltip="Info about the action"
                aria-label="Button that displays a tooltip when focused or hovered over">
                API/WebServices
            </button>
            <button mat-raised-button class="skill-button"
                matTooltip="Info about the action"
                aria-label="Button that displays a tooltip when focused or hovered over">
                Unit Tests
            </button>
        </p>
        <p>
            <button mat-raised-button class="skill-button"
                matTooltip="Info about the action"
                aria-label="Button that displays a tooltip when focused or hovered over">
                SCRUM
            </button>
            <button mat-raised-button class="skill-button"
                matTooltip="Info about the action"
                aria-label="Button that displays a tooltip when focused or hovered over">
                Responsive Development
            </button>
            <button mat-raised-button class="skill-button"
                matTooltip="Info about the action"
                aria-label="Button that displays a tooltip when focused or hovered over">
                PostgresSQL
            </button>
            <button mat-raised-button class="skill-button"
                matTooltip="Info about the action"
                aria-label="Button that displays a tooltip when focused or hovered over">
                Git/Github/GitLab
            </button>
            <button mat-raised-button class="skill-button"
                matTooltip="Info about the action"
                aria-label="Button that displays a tooltip when focused or hovered over">
                Angular Material
            </button>
            <button mat-raised-button class="skill-button"
                matTooltip="Info about the action"
                aria-label="Button that displays a tooltip when focused or hovered over">
                Bootstrap
            </button>
        </p>
    </mat-card-content>
</mat-card>
  
<mat-card class="resumo-card">
    <mat-card-title>PUBLICATIONS</mat-card-title>
    <mat-card-content>
        <p>
            Guide to integrating Microsoft MSAL Authentication with Angular 15 and MicroFrontend Nx.Dev
        </p>
        <p>
            <a href="https://medium.com/@pf.souza15/microsoft-msal-authentication-with-angular-and-microfrontend-nx-dev-5e7f492fd4dd" target="_blank" rel="noopener">
                Authentication with Angular and MicroFrontend Nx.Dev
            </a>
        </p>
        <p>
            Tutorial to Creating an Angular Project with Nx.dev (Module Federation)
        </p>
        <p>
            <a href="https://medium.com/@pf.souza15/creating-an-angular-project-with-nx-dev-a1ad925ab5f5" target="_blank" rel="noopener">
                Creating an Angular Project with Nx.dev
            </a>            
        </p>
    </mat-card-content>
</mat-card>
  