<mat-toolbar color="primary">
    <span>{{ 'TITLE' | translate }}</span>
</mat-toolbar>
  
  <div class="resumo-wrapper">
    <div class="foto-container">
      <img src="assets/img/PedroFelipe.PNG" alt="Pedro Photo Profile" />
    </div>
  
    <mat-card class="profile-card">
      <mat-card-title>{{ 'HELLO' | translate }}</mat-card-title>
      <mat-card-title>{{ 'INTRO' | translate }}</mat-card-title>
      <mat-card-content>
        <p>{{ 'TECH_DESC' | translate }}</p>
        <p>{{ 'LOCATION' | translate }}</p>
      </mat-card-content>
    </mat-card>
  </div>
  
  <mat-card class="resumo-card">
    <mat-card-title>{{ 'SUMMARY' | translate }}</mat-card-title>
    <mat-card-content>
      <p>{{ 'SUMMARY_1' | translate }}</p>
      <p>{{ 'SUMMARY_2' | translate }}</p>
      <p>{{ 'SUMMARY_3' | translate }}</p>
      <p>{{ 'SUMMARY_4' | translate }}</p>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="resumo-card">
    <mat-card-title>{{ 'SKILLS' | translate }}</mat-card-title>
    <mat-card-content>
      <p>
        <button mat-raised-button class="skill-button">Angular 15+</button>
        <button mat-raised-button class="skill-button">Typescript</button>
        <button mat-raised-button class="skill-button">Javascript</button>
        <button mat-raised-button class="skill-button">HTML</button>
        <button mat-raised-button class="skill-button">CSS</button>
        <button mat-raised-button class="skill-button">NodeJS</button>
        <button mat-raised-button class="skill-button">JSON</button>
        <button mat-raised-button class="skill-button">API/WebServices</button>
        <button mat-raised-button class="skill-button">Unit Tests</button>
      </p>
      <p>
        <button mat-raised-button class="skill-button">SCRUM</button>
        <button mat-raised-button class="skill-button">Responsive Development</button>
        <button mat-raised-button class="skill-button">PostgresSQL</button>
        <button mat-raised-button class="skill-button">Git/Github/GitLab</button>
        <button mat-raised-button class="skill-button">Angular Material</button>
        <button mat-raised-button class="skill-button">Bootstrap</button>
      </p>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="resumo-card">
    <mat-card-title>{{ 'PUBLICATIONS' | translate }}</mat-card-title>
    <mat-card-content>
      <p>{{ 'PUBLICATION_1' | translate }}</p>
      <p>
        <a href="https://medium.com/@pf.souza15/microsoft-msal-authentication-with-angular-and-microfrontend-nx-dev-5e7f492fd4dd" target="_blank" rel="noopener">
          Authentication with Angular and MicroFrontend Nx.Dev
        </a>
      </p>
      <p>{{ 'PUBLICATION_2' | translate }}</p>
      <p>
        <a href="https://medium.com/@pf.souza15/creating-an-angular-project-with-nx-dev-a1ad925ab5f5" target="_blank" rel="noopener">
          Creating an Angular Project with Nx.dev
        </a>
      </p>
    </mat-card-content>
  </mat-card>

  
  <mat-card class="resumo-card">
    <mat-card-title>{{ 'DOWNLOAD.TITLE' | translate }}</mat-card-title>
    <mat-card-content>
        <app-download-cv></app-download-cv>
    </mat-card-content>
  </mat-card>
  
  
  <mat-card class="resumo-card">
    <mat-card-title>{{ 'PHOTOS' | translate }}</mat-card-title>
    <mat-card-content>
      <app-carrossel-imagens></app-carrossel-imagens>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="resumo-card">
    <mat-card-content>
      <app-nasa-apod></app-nasa-apod>
    </mat-card-content>
  </mat-card>
  