<div class="download-links">
  <a href="assets/pdf/PedroFelipeProfilePortugues.pdf" download target="_blank" rel="noopener" class="download-link primary-button">
    <mat-icon>download</mat-icon>
    {{ 'DOWNLOAD.PT' | translate }}
  </a>

  <a href="assets/pdf/ProfilePedroFelipeDevEnglish.pdf" download target="_blank" rel="noopener" class="download-link secondary-button">
    <mat-icon>download</mat-icon>
    {{ 'DOWNLOAD.EN' | translate }}
  </a>

  <a href="assets/pdf/resume_pedro_felipe_elias_de_souza.pdf" download target="_blank" rel="noopener" class="download-link ghost-button">
    <mat-icon>download</mat-icon>
    {{ 'DOWNLOAD.EN_SIMPLE' | translate }}
  </a>
</div>
