<mat-toolbar color="primary">
    <span>Contacts</span>
  </mat-toolbar>
  
  <div class="container">
    <mat-card class="card">
      <mat-card-title>Contacts Pedro Felipe - Senior Frontend Developer</mat-card-title>
      <mat-card-content>
        <p>
            <mat-icon>phone</mat-icon>
            <a href="https://wa.me/5547997716565" target="_blank" rel="noopener">
            +55 47 99771 6565
            </a>
        </p>

        <p>
            <mat-icon svgIcon="captive_portal"></mat-icon>
            <a href="https://www.linkedin.com/in/pedrofelipeti" target="_blank" rel="noopener">
            Linkedin
            </a>
        </p>

        <p>
            <mat-icon svgIcon="nest_heat_link_gen_3"></mat-icon>
            <a href="https://www.instagram.com/pedrofelipedev" target="_blank" rel="noopener">
            Instagram
            </a>
        </p>

        <p>
            <mat-icon svgIcon="nest_heat_link_gen_3"></mat-icon>
            <a href="https://github.com/LordPedroFelipe" target="_blank" rel="noopener">
            Github
            </a>
        </p>
        
      </mat-card-content>
    </mat-card>
  </div>
  