.container {
    max-width: 800px;
    margin: 20px auto;
}

.card {
    padding: 16px;
    margin-bottom: 24px;
    background-color: #F3F4F6;
}

.full-width {
    width: 100%;
    margin-bottom: 16px;
}

.idiomas-image {
    vertical-align: middle;
    margin-right: 8px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}