<!--mat-toolbar color="primary">
    <span>My Career</span>
</mat-toolbar>

<div class="container">
<mat-card class="profile-card">
    <mat-card-title>Pedro - Senior Frontend Engineer</mat-card-title>
    <mat-card-content>
    <p>Experience: 12 years in Angular, TypeScript, Node.js</p>
    <p>Expert in building scalable and high-performance applications</p>
    </mat-card-content>
</mat-card>
</div-->
  

<div class="resumo-container">
    <h1>Pedro Felipe Elias de Souza</h1>
    <h2>Frontend Software Engineer Senior - Angular 15+ e Typescript</h2>
    <p class="location">Joinville, Santa Catarina, Brazil</p>
  
    <h3>SUMMARY</h3>
  
    <p>
      Experienced Systems Analyst with a strong background in developing robust WEB ERP systems, utilizing Caché Database and proficient in HTML, Javascript, CSS, and JQuery.
    </p>
  
    <p>
      Extensive expertise in the Healthcare industry, specializing in the analysis and development of systems using Caché Database, object-oriented programming, and advanced analytical methodologies. Skilled in customizations, WebServices, Delphi, SQL, and COS.
    </p>
  
    <p>
      Proven track record of successfully delivering a diverse range of projects, employing cutting-edge technologies such as HTML5, CSS3, Bootstrap, JavaScript, JQuery, Angular, NodeJS, PostgreSQL, MongoDB, among others.
    </p>
  
    <p>
      Currently, I am an integral part of an agile development team, actively contributing to multiple projects. My primary focus lies in front-end analysis and development, proficient in TypeScript, Angular, and Git. I am passionate about delivering innovative solutions that meet and exceed client expectations. Let’s connect and explore potential opportunities to collaborate on exciting projects!
    </p>
</div>
  