<div class="nasa-shell">
  <div class="nasa-top">
    <div>
      <h3>{{ 'NASA_COMPONENT.TITLE' | translate }}</h3>
      <p>{{ 'NASA_COMPONENT.SUB_TITLE' | translate }}</p>
    </div>

    <div class="filter-container">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'NASA_COMPONENT.DATE' | translate }}</mat-label>
        <input matInput [matDatepicker]="picker" [formControl]="dateControl">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <div class="nasa-card" *ngIf="(apod$ | async) as apod">
    <div class="nasa-head">
      <div>
        <p class="nasa-date">{{ apod.date }}</p>
        <h4>{{ apod.title }}</h4>
      </div>
    </div>

    <div class="media-frame">
      <div class="image-loader" *ngIf="imageLoading$ | async">
        <mat-spinner diameter="34"></mat-spinner>
        <p>{{ 'NASA_COMPONENT.CARREGANDO' | translate }}</p>
      </div>

      <img
        *ngIf="apod.media_type === 'image' && !(imageError$ | async)"
        [src]="apod.url"
        [alt]="apod.title"
        (load)="onMediaLoad()"
        (error)="onMediaError()"
      />

      <iframe
        *ngIf="apod.media_type === 'video'"
        [src]="safeVideoUrl$ | async"
        title="NASA APOD video"
        loading="lazy"
        allowfullscreen
        (load)="onMediaLoad()"
      ></iframe>

      <div *ngIf="apod.media_type === 'other'" class="not-supported">
        <p>{{ 'NASA_COMPONENT.MIDIA_NAO_SUPORTADA' | translate }}</p>
        <a [href]="apod.url" target="_blank" rel="noopener" class="ghost-button">
          {{ 'NASA_COMPONENT.VER_CONTEUDO_EXTERNO' | translate }}
        </a>
      </div>

      <div *ngIf="imageError$ | async" class="error">
        {{ 'NASA_COMPONENT.IMG_ERROR' | translate }}
      </div>
    </div>

    <div class="nasa-content">
      <p>{{ apod.explanation }}</p>
      <p *ngIf="apod.copyright" class="copyright">© {{ apod.copyright }}</p>
    </div>
  </div>

  <div class="error" *ngIf="error$ | async as errorMsg">
    {{ errorMsg | translate }}
  </div>
</div>
