<mat-toolbar color="primary">
    <span>Astronomy Picture of the Day</span>
  </mat-toolbar>
  
  <div class="filter-container">
    <mat-form-field appearance="outline">
      <mat-label>Select Date</mat-label>
      <input matInput [matDatepicker]="picker" [formControl]="dateControl">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  
  <mat-spinner *ngIf="loading$ | async" diameter="48"></mat-spinner>
  
  <mat-card *ngIf="apod$ | async as apod">
    <mat-card-header>
      <mat-card-title>{{ apod.title }}</mat-card-title>
      <mat-card-subtitle>{{ apod.date }}</mat-card-subtitle>
    </mat-card-header>
  
    <img *ngIf="apod.media_type === 'image'" [src]="apod.url" [alt]="apod.title" />
  
    <mat-card-content>
      <p>{{ apod.explanation }}</p>
      <p *ngIf="apod.copyright">© {{ apod.copyright }}</p>
    </mat-card-content>
  </mat-card>
  
  <div class="error" *ngIf="error$ | async as errorMsg">
    {{ errorMsg }}
  </div>
  