<mat-toolbar color="primary">
  <span>{{ 'NASA_COMPONENT.TITLE' | translate }}</span>
</mat-toolbar>

<h3>{{ 'NASA_COMPONENT.SUB_TITLE' | translate }}</h3>

<div class="filter-container">
  <mat-form-field appearance="outline">
    <mat-label>{{ 'NASA_COMPONENT.DATE' | translate }}</mat-label>
    <input matInput [matDatepicker]="picker" [formControl]="dateControl">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>

<!--mat-spinner *ngIf="loading$ | async" diameter="48"></mat-spinner-->
<mat-card *ngIf="(apod$ | async) as apod; else loadingCard">
  <mat-card-header>
    <mat-card-title>{{ apod.title }}</mat-card-title>
    <mat-card-subtitle>{{ apod.date }}</mat-card-subtitle>
  </mat-card-header>

  <!-- Enquanto a imagem carrega -->
  <div class="image-loader" *ngIf="(imageLoading$ | async)">
    <mat-spinner diameter="32"></mat-spinner>
    <p>
      {{ 'NASA_COMPONENT.CARREGANDO' | translate }}
    </p>
  </div>

  <!-- Imagem carregada com sucesso -->
  <img
    *ngIf="apod.media_type === 'image' && !(imageError$ | async)"
    [src]="apod.url"
    [alt]="apod.title"
    (load)="onImageLoad()"
    (error)="onImageError()" />

  <!-- Vídeo embutido (YouTube/Vimeo) -->
  <iframe
    *ngIf="apod.media_type === 'video'"
    [src]="apod.url"
    width="100%"
    height="400"
    frameborder="0"
    allowfullscreen
    (load)="onImageLoad()"
    (error)="onImageError()">
  </iframe>

  <!-- Conteúdo não suportado -->
  <div *ngIf="apod.media_type === 'other'" class="not-supported">
    <p>
      {{ 'NASA_COMPONENT.MIDIA_NAO_SUPORTADA' | translate }}
    </p>
    <a *ngIf="apod.url" [href]="apod.url" target="_blank" rel="noopener">
      {{ 'NASA_COMPONENT.VER_CONTEUDO_EXTERNO' | translate }}
    </a>
  </div>

  <!-- Caso a imagem falhe ao carregar -->
  <div *ngIf="imageError$ | async" class="error">
    {{ 'NASA_COMPONENT.IMG_ERROR' | translate }}
  </div>

  <mat-card-content>
    <p>{{ apod.explanation }}</p>
    <p *ngIf="apod.copyright">© {{ apod.copyright }}</p>
  </mat-card-content>
</mat-card>

<ng-template #loadingCard>
  <div class="image-loader" *ngIf="imageLoading$ | async">
    <mat-spinner diameter="48"></mat-spinner>
    <p>{{ 'NASA_COMPONENT.CARREGANDO' | translate }}</p>
  </div>
</ng-template>

<div class="error" *ngIf="error$ | async as errorMsg">
  {{ errorMsg }}
</div>
